/* social box */
.social-box {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
    background: #1a1a1a;
}

.social-left span {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 25px;
    font-size: 0.8rem;
}

@media (max-width:768px) {
    .social-left span {
        margin-right: 150px;
        font-size: 0.7rem;
    }
}

.social-left a {
    text-decoration: none;
    color: #9C9C9C;
}

.social-left .img-icon {
    height: 16px;
    width: auto;
}

.social-right .img-icon {
    height: 16px;
    width: auto;
    margin-left: 15px;
}

/* mobile-menu */
.mobile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(135deg, rgb(107, 190, 246) 0%, rgb(37, 234, 248) 100%);
}

.img-logo {
    height: 30px;
    width: auto;
}

@media (min-width:768px) {
    .img-logo {
        height: 45px;
    }
}

.mobile-menu .hamburger-menu,
.mobile-menu .social-menu {
    display: inline-block;
    width: 48px;
    height: 40px;
    /* background: #ff0000; */
}

.mobile-menu .hamburger-menu span {
    display: block;
    width: 100%;
    height: 8px;
    margin-bottom: 8px;
    background: #ffffff;
}

.mobile-menu .hamburger-menu span:nth-last-child(1) {
    margin-bottom: 0;
}

.mobile-menu .social-menu span {
    display: block;
    margin-right: 4.5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50px;
}

.mobile-menu .social-menu span:nth-last-child(1) {
    margin-right: 0;
}

/* desktop-menu */
.desktop-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;

    /* 讓寬度保持100%，格式不會跑掉 */
    width: 100%;

    background: linear-gradient(to bottom, rgba(26, 26, 26, 26) 0%, rgba(26, 26, 26, 1) 20%, rgba(26, 26, 26, 0) 100%);
}

.desktop-menu-style {
    padding-left: 0;
    margin-bottom: 0;
    /* 將預設項目符號清掉 */
    list-style: none;
    /* background: #000; */
}

.desktop-menu-style li {
    display: inline-block;
}

.desktop-menu-style .link {
    display: block;
    margin-left: 35px;
    color: #fff;
    padding: 5px 20px;
    font-size: 1.2rem;
    border-radius: 35px;
    text-decoration: none;
}

.desktop-menu-style .link:hover {
    background: red;
}

.desktop-menu-style .link:nth-last-child(1) {
    margin-right: 0;
}

@media (min-width:768px) {
    .desktop-menu-style .link {
        margin-left: 20px;
        padding: 5px 15px;
    }
}

/* 控制選單的開關 */
.mobile-switch {
    display: block;
}

.desktop-switch {
    display: none;
}

@media (min-width:768px) {
    .mobile-switch {
        display: none;
    }

    .desktop-switch {
        display: block;
    }
}

/* banner + logo */
.banners {
    /* 浮動對齊的基準點，一定要有 */
    position: relative;
}

.banner-box {
    /* 浮動對齊的基準點，一定要有 */
    position: relative;
    z-index: 1;
}

/* 將banner-logo疊在banners上 */
.banner-logo {
    /* 浮動排版 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

/* about */
.about .about-title {
    font-style: italic;
    padding-bottom: 25px;
    margin-top: 0;
    text-align: left;
    color: #B2B2B2;
    font-weight: bold;
    letter-spacing: 1px;
}

.about .about-text {
    text-align: justify;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    line-height: 1.7;
}

.about-img {
    border: 8px solid;
    border-image: linear-gradient(to right, rgba(70, 180, 255, 1) 0%, rgba(83, 203, 241, 1) 50%, rgba(7, 237, 255, 1) 100%);
    /* 影像被分割成九個部分：四個角落、四個邊緣和中間 */
    /* 1 表示使用全部 */
    border-image-slice: 1;
    /* border-image 需要和 border-image-slice搭配使用 */
}

@media (max-width: 576px) {
    .about-img {
        width: 100vw;
        /* 讓圖片寬度達到整個視窗寬度 */
        height: auto;
        object-fit: cover;
        /* 確保圖片不會變形並填滿區域 */
        margin-left: calc(-50vw + 50%);
        /* 調整圖片的定位，使其從中間對齊 */
    }

    .container .about-mobile-padding {
        padding: 0;
        /* 確保容器內的間距不影響圖片顯示 */
    }
}

@media (max-width: 768px) {
    .about .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .about .section-title {
            text-align: left;
        }

    .about .about-title {
        padding-left: 35px;
    }
}

/* travel */
.feature {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.feature-content-margin {
    margin-top: 15px;
}

.feature .feature-img {
    width: 50%;
    /* 手機版 */
    margin-top: 20px;
    border-radius: 50%;
}

.feature .feature-title {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.feature .feature-text {
    display: inline-block;
    margin-bottom: 5px;
    color: #8a8989;
    line-height: 1.7;
    font-size: 0.9rem;
    text-align: center;
}

.feature:hover .feature-title {
    color: #50ACFF;
}

@media (min-width:768px) {
    .feature {
        text-align: left;
    }

    .feature .feature-img {
        width: 100%;
    }

    .feature .feature-title {
        margin-top: 0;
    }

    .feature .feature-text {
        text-align: justify;
    }
}

@media (max-width:576px) {
    .feature .feature-img {
            width: 45%;
        }
}

/* travel-tourist */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 每行 4 格 */
}

/* 每個格子 */
.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* 覆蓋層 */
.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 半透明背景 */
    background: linear-gradient(135deg, rgba(70, 180, 255, 0.7) 0%,
            rgba(83, 203, 241, 0.7) 50%, rgba(7, 237, 255, 0.7) 100%);

    color: white;
    opacity: 1;
    transform: scale(1);
    /* 初始大小覆蓋整個格子 */
    transition: transform 0.2s ease, opacity 0.2s ease;
    /* 動畫效果 */
    padding: 10px;
}

.grid-item .overlay h3 {
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* 添加文字陰影 */
}

.grid-item .overlay p {
    display: none;
    padding: 0 20px 0;
    font-size: 1rem;
    margin-top: 30px;
}

/* 滑鼠移入效果 */
.grid-item:hover .overlay {
    transform: scale(0.9);
    /* 覆蓋層縮小*/
    opacity: 0.9;

}

.grid-item:hover p {
    display: block;
    /* 內文出現 */
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* 每行 2 格，從上到下排列 */
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* 每行 1 格，從上到下排列 */
    }
}


/* news */
.news div {
    padding-bottom: 30px;
}

.news-title {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
    color: #000;
    font-weight: 200px;
    letter-spacing: 1px;
}

.news-date {
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 0.8rem;
    color: #B2B2B2;
}

.news-text {
    margin: 0;
    text-align: justify;
    font-size: 0.9rem;
    color: #000;
    letter-spacing: 0.5px;
    line-height: 1.7;
}

/* 在手機板時不顯示 news 的 button */
@media (max-width:768px) {
    .news-button .button {
        display: none;
    }
}

/* footer */
.footer-box1 {
    display: block;
}

.footer-box1 h5 {
    padding-top: 5px;
    padding-bottom: 25px;
    color: #000;
    font-weight: bold;
}

@media (max-width:768px) {
    .footer-box1 h5 {
        font-size: 1.5rem;
    }
}

/* 前面 about 已經有設定好 about-text 樣式 */
.footer-about .about-text {
    padding-top: 25px;
    padding-right: 10px;
    text-align: justify;
    color: #8a8989;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    line-height: 1.7;
}

.footer-about .img-logo {
    height: 35px;
    width: auto;
}

@media (max-width:768px) {
    .footer-about .img-logo {
        /* margin-bottom: 10px; */
        display: inline-block;
        /* 確保 logo 可以置中 */
    }

    .footer-box1 .about-text {
        display: none;
    }
}

.footer-link {
    padding-left: 15px;
}

.footer-link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-link .link {
    display: block;
    color: #8a8989;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-link .link:hover {
    color: #000;
    transition: 0.5s;
}


/* footer-news */
.footer-news .news-date {
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
    font-size: 0.9rem;
    color: #8a8989;
}

.footer-news .news-text {
    margin: 0;
    color: #8a8989;
    text-align: justify;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    line-height: 1.7;
}

.footer-news .subtitle {
    display: block;
    width: 100%;
    height: 0.5px;
    background: #8a8989;
    margin: 8px 0;
}

/* footer-contact */
.footer-contact {
    padding-left: 15px;
}

.footer-contact input,
.footer-contact .textarea {
    padding: 8px 15px 8px;
    margin-bottom: 10px;
    width: 100%;
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    color: #000;
    outline: none;
    /* 取消點擊時的外框提示 */
    box-sizing: border-box;
    /* 確保 padding 和寬度計算不影響布局 */
}

.footer-contact .textarea {
    resize: none;
    height: 110px;
    /* 訊息部分高度設為 110px */
    overflow: auto;
    /* 超出時可滾動 */
    overflow-y: auto;
    /* 垂直滾動條 */
    word-wrap: break-word;
    /* 保證長單詞也換行 */
    white-space: pre-wrap;
    /* 保證空格、換行符號的正確顯示 */
}

.footer-contact input::placeholder,
.footer-contact .textarea::placeholder {
    text-align: left;
    color: #8a8989;
    line-height: 1.5;
    /* 確保文字行距 */
    vertical-align: top;
    /* 保證文字垂直對齊上方 */
}

@media (max-width: 768px) {
    .footer-box1 .row {
        padding: 10px;

    }

    .footer-box1 .col-md-6 {
        margin-bottom: 50px;
    }
}

/* footer-box2 */
.footer-box2 {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
    background: #333333;
}

.footer-text {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 25px;
    font-style: italic;
    font-size: 0.8rem;
    color: #9C9C9C;
}

/* 電腦版 靠右 */
.justify-content {
    justify-content: end;
}

.footer-social .img-icon {
    height: 16px;
    width: auto;
    margin-left: 15px;
}

@media (max-width: 767px) {
    .footer-box2 {
        padding: 15px 10px;
        text-align: center;
    }

    .footer-box2 .row {
        flex-direction: column-reverse;
        /* 反向排列，達成文字在下icon在上的效果*/
    }

    .footer-text {
        margin: 10px auto 10px;
        padding-top: 20px;
        font-size: 0.7rem;
    }

    .footer-social {
        margin-top: 10px;
    }

    .footer-social .img-icon {
        margin: 0 10px;
        height: 20px;
    }

    /* 手機版 置中 */
    .justify-content {
        justify-content: center;
    }
}